.eight {
    background-color: $background-grey;
    padding: 30px 0px;
}


.section__item {
    background-color: $background-main;
    border-radius: 2px;
    margin: 15px;
}

.section__item-number {
    font-size: 60px;
    opacity: 0.1;
    font-weight: bolder;
    padding: 30px 20px 0px 20px;
}

.section__item-heading {
    font-size: 16px;
    letter-spacing: 2%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
}

.section__item-description {
    font-size: 10px;
    padding: 20px;
    line-height: 1.25;

}

.section__paragraph-eight{
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.25;
    margin: 15px;
}