.two {
    background-color: $background-grey;
    padding-bottom: 30px;
}

.section__image {
    margin-bottom: 40px;
    width: 100%;
}

.section__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    gap:10px;
    margin-bottom: 30px;
}

.section__list-item {
    position: relative;
    width: 92%;
    max-width: 500px;

}

.section__figure {
    position: relative;
    margin: 0;
    padding: 0;

    img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.section__figure-caption {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.045em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: $background-main;
    color: $text-color;
    padding: 10px;
    box-sizing: border-box;
}

@include desktop {
    .two {
        padding: 40px 225px;
    }
    .section__list {
    display: grid;
        grid-template-columns: repeat(4, 1fr);       
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }

    .section__figure{
        max-width: 330px;
        max-height: 330px;
    }


    .section__figure-caption {

        font-size: 22px;

    }

}