.two {
    background-color: $background-grey;
    padding-top: 40px;
    padding-bottom: 30px;
}

.section__image {
    margin-bottom: 40px;
    width: 100%;
}

.section__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 26px;
}

.section__list-item {
    position: relative;
    width: 92%;
    max-width: 550px;

}

.section__figure {
    position: relative;
    margin: 0;
    padding: 0;

    img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.section__figure-caption {
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.045em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 66px;
    width: 100%;
    max-width: 100%;
    background: $background-main;
    color: $text-color;
    box-sizing: border-box;
    border-radius: 0px 0px 2px 2px;
    display: flex;
    align-items: center;
}

.section__figure-caption p {
    align-items: center;
    padding: 15px;
}


@include desktop {
    .two {
        padding: 40px 11.7%;
    }
    .section__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);       
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .section__figure{
        max-width: 330px;
        max-height: 330px;
    }

    .section__figure-caption {
        position: relative;
        width: 100%;
        max-width: 100%;
        font-size: 18px;
    }

    .section__figure-image {
    transition: all 0.2s ease;
    filter: brightness(100%);
    }

    .section__hoover-container {
        position: relative;
        cursor: pointer;
        &:hover {
            .section__figure-image {
                filter: brightness(50%);
            }
            .section__hoover {
                opacity: 1;
            }
        }
    .section__hoover {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        & p {
            color: $background-main;
        }
    }
    }

}