.eight {
    background-color: $background-grey;
    padding: 40px 0px;
}

.section__item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 0px 15px;
}

.section__item {
    background-color: $background-main;
    border-radius: 2px;
}

.section__item-number {
    font-size: 60px;
    opacity: 0.1;
    font-weight: 700;
    line-height: 0.83;
    letter-spacing: 0.04em;
    padding: 20px 0px 30px 20px;
}

.section__item-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.89;
    text-transform: uppercase;
    padding: 0px 20px;
}

.section__item-description {
    font-size: 12px;
    padding: 20px;
    line-height: 1.25;
    letter-spacing: 0.04em;

}

.section__paragraph-eight{
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.25;
    margin: 15px;
}

@include desktop {
    .eight {
        padding: 0px 13.9% 40px 13.9%;
    }


    .section__item-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 30px;
    }

    .section__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .section__item-number{
        font-size: 120px;
        letter-spacing: 0.04em;
        line-height: 0.83;
    }

    .section__item-heading {
        margin-top: 30px;
        padding: 0px 30px;
        font-size: 24px;
        line-height: 0.92;
    }
    .section__item-description {
        font-size: 14px;
        line-height: 1.375;
        letter-spacing: 0.04em;
        padding: 10px 30px 30px 30px;
    }


    .section__paragraph-eight {
        font-size: 16px;
        letter-spacing: 0.04em;   
        margin-top: 60px;
    }

}