body {
    background-color: $background-main;
    color: $text-color;
    letter-spacing: 0.02em;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section__title-container {
    padding: 0px 15px;
}

// SECTION TITLE
.section__title {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 0;
    letter-spacing: 0.04em;
    font-weight: bold;
    text-transform: uppercase;
}


// SUBTITLE
.section_subtitle-container {
    display: flex;
    align-items: center;
}

.section_subtitle-dot::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $main-blue;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 3px;
        align-items: center;
        justify-content: center;
    }


.section__subtitle {
    color: $main-blue;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    font-weight: lighter;
    letter-spacing: 0.04em;

}

// BUTTON
.section__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__button {
    width: 277px;
    height: 47px;
    color: $background-main;
    background-color: $main-blue;
    border: 1px solid $main-blue;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.26;
    letter-spacing: 0.02em;
    cursor: pointer;
    font-weight: 700;
    &:hover + .section__button-arrow,
    &:focus + .section__button-arrow {
        opacity: 0;
    }

}
.section__button-arrow {
        margin-left: 15px;
        transition: opacity 0.2s ease-in-out;
    }




@include desktop {

// SECTION TITLE
    .section__title {
        font-size: 56px;
        
    }


// SECTION SUBTITLE
        .section__subtitle {
            font-size: 30px;
            line-height: 1.26;
        }



// BUTTON
        .section__button {
            width: 277px;
            height: 55px;
        }
        }