body {
    background-color: $background-main;
    color: $text-color;
    letter-spacing: 0.02em;
    font-family: 'Source Sans Pro', sans-serif;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

// SECTION TITLE
.section__title {
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 0;
    letter-spacing: 0.04em;
    padding: 0px 15px;
    font-weight: bold;
    text-transform: uppercase;
}


// SUBTITLE
.section_subtitle-container {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section_subtitle-dot::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $main-blue;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 3px;
        align-items: center;
        justify-content: center;
    }


.section__subtitle {
    color: $main-blue;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    font-weight: lighter;
    letter-spacing: 0.04em;

}

// BUTTON
.section__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__button {
    max-width: 75%;
    color: $background-main;
    background-color: $main-blue;
    border: 1px solid $main-blue;
    border-radius: 6px;
    padding: 14px 30px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.27;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.04em;

    

    &:hover + .section__button-arrow,
    &:focus + .section__button-arrow {
        opacity: 0;
    }

}
.section__button-arrow {
        margin-left: 15px;
        transition: opacity 0.2s ease-in-out;
    }